<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wealthdoctor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.wealthdoctor.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <activity
             android:name=".bill_reminder.expandable_recycler_view.expand.ExpandActivity"
             />-->

        <activity
            android:name="com.wealthdoctor.bill_reminder.activity.BillReminderActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.wealthdoctor.MainActivity" />
        </activity>

        <activity
            android:name="com.wealthdoctor.bill_reminder.activity.BillReminderDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wealthdoctor.bill_reminder.activity.BillReminderActivity" />
        </activity>

        <activity
            android:name="com.wealthdoctor.bill_reminder.activity.BillReminderListActivity"

            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- to identify this activity as "searchable" -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wealthdoctor.bill_reminder.activity.BillReminderActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.wealthdoctor.bill_reminder.activity.BillReminderDetailListActivity"

            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- to identify this activity as "searchable" -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wealthdoctor.bill_reminder.activity.BillReminderListActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>
    </application>

</manifest>